@charset "UTF-8";
/* CSS Document */

body {
	background: white;
	text-align:center;
	background-size:cover;
}

.navbar-inverse{
	background: black;
}

.navbar-inverse .navbar-nav>li>a {
	color: #F9E528;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-brand:hover {
	color: #999;
}

.header {
	padding-top: 50px;
}

a:hover { 
    color: #999;
	background-color: transparent;
}

h1 {
	text-align: justify;
	font-family: Ubuntu;
	font-style: normal;
	font-size: 14pt;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 60px;
	margin-bottom: 60px;
	line-height: 30px;
}

h2{
	padding-top: 10px;
	padding-bottom: 10px;
}

h4{
	padding-top: 25px;
}

#art {
	background: white;
	border: #999 solid 1px;
	box-shadow: rgb(208, 208, 216) 8px 8px 10px;
	margin-left: 1px;
	margin-right: 1px;
}

#the_footer{
	text-align: center;
	font-family: Source Sans Pro;
	font-style: normal;
	font-size: 15pt;
	background-color: #d11414;
	color: #FCF8F8;
	padding-top: 0px;
	padding-bottom: 0px;
}

.bullet {
	color: white;
	font-size: 16pt;
}

.it {
	color: white;
	font-size: 10pt;
}

.sonic {
	color: #F9E528;
}

.envelope {
	color: white;
}

.envelope:hover { 
    color: #999;
	background-color: transparent;
}

#thumbnail-preview-indicators {
  position: relative;
  overflow: hidden;
}
#thumbnail-preview-indicators .slides .slide-1, 
#thumbnail-preview-indicators .slides .slide-2,
#thumbnail-preview-indicators .slides .slide-3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
    #thumbnail-preview-indicators,
    #thumbnail-preview-indicators .slides,
    #thumbnail-preview-indicators .slides .slide-1, 
    #thumbnail-preview-indicators .slides .slide-2,
    #thumbnail-preview-indicators .slides .slide-3 {
      height: 480px;
    }
#thumbnail-preview-indicators .slides .slide-1 {
  background-image: url(Masaaki-Hatsumi1.jpg);
}
#thumbnail-preview-indicators .slides .slide-2 {
  background-image: url(Takamatsu.jpg);
}
#thumbnail-preview-indicators .slides .slide-3 {
  background-image: url(Masaaki-Hatsumi2.jpg);
}
#thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
  top: 20%;
  bottom: inherit;
}
#thumbnail-preview-indicators .carousel-indicators li,
#thumbnail-preview-indicators .carousel-indicators li.active {
  position: relative;
  width: 100px;
  height: 8px;  
}
#thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
  position: absolute;
  top: 0;
  width: 100px;
  display: none;
  opacity: 0;
  left: 50%;
  margin-top: -80px;
  margin-left: -50px;
}
#thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail {
  display: block;
  opacity: .8;
}
#thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover{
  opacity: 1;
}
@media screen and (max-width : 480px) {    
    #thumbnail-preview-indicators .carousel-indicators li,
    #thumbnail-preview-indicators .carousel-indicators li.active {
      width: 50px;
      height: 8px;
      position: relative;
    }
    #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
       width: 50px;
       left: 50%;
       margin-top: -50px;
       margin-left: -25px;
    }
}